core-toolbar {
	background-color: #03A9F4;
}

paper-dropdown-menu {
	box-sizing: border-box;
	width: 100px;
}

core-menu {
	box-sizing: border-box;
	width: 100px;
}

paper-item {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.menuheader {
	background-color: #56BA89;
}

.collapseheader {
	padding: 10px 15px;
	background-color: #56BA89;
	border: 1px solid #dedede;
	font-size: 18px;
	cursor: pointer;
}

.collapsecontent {
	padding: 10px;
	background-color: white;
	border: 1px solid #dedede;
	border-top: none;
}

.disableselect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#title {
	text-align: center;
}

#content {
	overflow: scroll;
}

#grid {
	background: url(img/grid.png);
	border: 2px solid black;
	min-width: 501px;
	min-height: 501px;
	max-width: 501px;
	max-height: 501px;
}